<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Creative, handmade clothing" />
  <meta http-equiv="refresh" content="5; url=/">

  <title>Uh Oh</title>

  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/topnav.css">
  <!-- Imports the topnav icon and javascript-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/topnav.js"></script>
</head>

<body>

  <main>
    <section id="errorSection">
        <div id="errorMessageDiv"><p id="errorMessage">Uh Oh</p><p>Something went wrong, you will be redirected in a second</p></div>
          </section>
    

</body>

</html>